@model Net5AnimeStore.Models.Console

@if (String.IsNullOrEmpty(ViewBag.Message) == false)
{
    <div class="alert alert-success" role="alert">
        @ViewBag.Message
    </div>
}

<form asp-controller="Console" asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label asp-for="Name">Name</label>
        <input type="text" asp-for="Name" class="form-control">
        <span asp-validation-for="Name"></span>
    </div>
    <div class="form-group">
        <label asp-for="ShortDescription">Short Description</label>
        <input type="text" asp-for="ShortDescription" class="form-control">
        <span asp-validation-for="ShortDescription"></span>
    </div>
    <div class="form-group">
        <label asp-for="LongDescription">Long Description</label>
        <input type="text" asp-for="LongDescription" class="form-control">
        <span asp-validation-for="LongDescription"></span>
    </div>
    <div class="form-group">
        <label asp-for="Price">Price</label>
        <input type="text" asp-for="Price" class="form-control">
        <span asp-validation-for="Price"></span>
    </div>
    <div class="form-group">
        <label asp-for="ImageUrl">Image</label>
        <input type="text" asp-for="ImageUrl" class="form-control">
        <span asp-validation-for="ImageUrl"></span>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>